@{
    
}

@model ProjectsViewModel



@foreach (Project p in Model.Projects)
{
    <partial name="ProjectSummary" model="p" />
}

<div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>
